.idea/
*.iml
*.iws
*.eml
out/
.DS_Store
.svn
log/*.log
tmp/**
node_modules/
.sass-cache
css/reveal.min.css
js/reveal.min.js

*.psd

*~
*.sw[mnpcod]
*.log
*.tmp
*.tmp.*
log.txt
*.sublime-project
*.sublime-workspace
.vscode/
npm-debug.log*

.sass-cache/
.versions/
coverage/
dist/
node_modules/
tmp/
temp/
hooks/

.DS_Store
Thumbs.db
UserInterfaceState.xcuserstate
